## SQL ZOO- SELECT within SELECT Tutorial

Link: http://sqlzoo.net/wiki/SELECT_within_SELECT_Tutorial

List each country name where the population is larger than that of 'Russia'.

In [ ]:
SELECT name FROM world
WHERE population > (SELECT population FROM world WHERE name = 'Russia')

Show the countries in Europe with a per capita GDP greater than 'United Kingdom'.

In [ ]:
SELECT name FROM world
WHERE continent = 'Europe' AND gdp/population > (SELECT gdp/population FROM world WHERE name = 'United Kingdom')

List the name and continent of countries in the continents containing either Argentina or Australia. Order by name of the country.

In [ ]:
SELECT name, continent FROM world
WHERE name IN ('Argentina', 'Australia')
OR continent IN ('Oceania', 'South America')
ORDER BY name

Which country has a population that is more than Canada but less than Poland? Show the name and the population.

In [ ]:
SELECT name, population FROM world
WHERE population > (SELECT population FROM world WHERE name = 'Canada')
AND population < (SELECT population FROM world WHERE name = 'Poland')

Germany (population 80 million) has the largest population of the countries in Europe. Austria (population 8.5 million) has 11% of the population of Germany.

Show the name and the population of each country in Europe. Show the population as a percentage of the population of Germany.

In [ ]:
SELECT name, CONCAT(ROUND(population/(SELECT population FROM world WHERE name = 'Germany')*100), '%') AS percentage FROM world
WHERE continent = 'Europe'

Which countries have a GDP greater than every country in Europe? [Give the name only.] (Some countries may have NULL gdp values)

In [ ]:
SELECT name FROM world
WHERE gdp > (SELECT gdp FROM world WHERE continent = 'Europe' and gdp != 'NULL')

Find the largest country (by area) in each continent, show the continent, the name and the area:

In [ ]:
SELECT continent, name, area FROM world AS x
WHERE area >= ALL(SELECT area FROM world AS y WHERE y.continent = x.continent AND area >0)

List each continent and the name of the country that comes first alphabetically.

In [ ]:
SELECT continent, MIN(name) FROM world
GROUP BY continent
ORDER BY continent

Find the continents where all countries have a population <= 25000000. Then find the names of the countries associated with these continents. Show name, continent and population.

In [ ]:
SELECT name, continent, population FROM world AS x
WHERE 25000000 >= ALL(SELECT population FROM world AS y WHERE x.continent = y.continent AND population >0)

Some countries have populations more than three times that of any of their neighbours (in the same continent). Give the countries and continents.

In [ ]:
SELECT name, continent FROM world AS x
WHERE population/3 > ALL(SELECT population FROM world AS y WHERE y.continent = x.continent AND x.name != y.name)