## SQL ZOO- The JOIN operation

Link: http://sqlzoo.net/wiki/The_JOIN_operation

The first example shows the goal scored by a player with the last name 'Bender'. The * says to list all the columns in the table - a shorter way of saying matchid, teamid, player, gtime

Modify it to show the matchid and player name for all goals scored by Germany. To identify German players, check for: teamid = 'GER'

In [ ]:
SELECT matchid, player FROM goal 
WHERE teamid = 'GER'

From the previous query you can see that Lars Bender's scored a goal in game 1012. Now we want to know what teams were playing in that match.

Notice in the that the column matchid in the goal table corresponds to the id column in the game table. We can look up information about game 1012 by finding that row in the game table.

Show id, stadium, team1, team2 for just game 1012

In [ ]:
SELECT id,stadium,team1,team2 FROM game
WHERE id = 1012

You can combine the two steps into a single query with a JOIN.

SELECT *
  FROM game JOIN goal ON (id=matchid)

The FROM clause says to merge data from the goal table with that from the game table. The ON says how to figure out which rows in game go with which rows in goal - the matchid from goal must match id from game. (If we wanted to be more clear/specific we could say 
ON (game.id=goal.matchid)

The code below shows the player (from the goal) and stadium name (from the game table) for every goal scored.

Modify it to show the player, teamid, stadium and mdate for every German goal.

In [ ]:
SELECT player, teamid, stadium, mdate FROM game
JOIN goal ON (id= matchid)
WHERE teamid = 'GER'

Use the same JOIN as in the previous question.

Show the team1, team2 and player for every goal scored by a player called Mario player LIKE 'Mario%'

In [ ]:
SELECT team1, team2, player FROM game
JOIN goal on (matchid = id)
WHERE player like 'Mario%'

The table eteam gives details of every national team including the coach. You can JOIN goal to eteam using the phrase goal JOIN eteam on teamid=id

Show player, teamid, coach, gtime for all goals scored in the first 10 minutes gtime<=10

In [ ]:
SELECT player, teamid, coach, gtime FROM game
JOIN goal on (goal.matchid = game.id)
JOIN eteam on (goal.teamid = eteam.id)
WHERE gtime<=10

To JOIN game with eteam you could use either
game JOIN eteam ON (team1=eteam.id) or game JOIN eteam ON (team2=eteam.id)

Notice that because id is a column name in both game and eteam you must specify eteam.id instead of just id

List the the dates of the matches and the name of the team in which 'Fernando Santos' was the team1 coach.

In [ ]:
SELECT mdate, teamname FROM game
JOIN eteam on (game.team1 = eteam.id)
WHERE coach = 'Fernando Santos'

List the player for every goal scored in a game where the stadium was 'National Stadium, Warsaw'

In [ ]:
SELECT player FROM goal
JOIN game on (goal.matchid = game.id)
WHERE gtime >0 AND stadium = 'National Stadium, Warsaw'

The example query shows all goals scored in the Germany-Greece quarterfinal.
Instead show the name of all players who scored a goal against Germany.

In [ ]:
SELECT DISTINCT(player) FROM game 
JOIN goal ON matchid = id 
WHERE teamid != 'GER' AND (team1='GER' OR team2='GER')

Show teamname and the total number of goals scored.

In [ ]:
SELECT teamname, COUNT(gtime>0) AS goal from eteam
JOIN goal ON (teamid = id)
GROUP BY teamname

Show the stadium and the number of goals scored in each stadium.

In [ ]:
SELECT stadium, COUNT(gtime>0) AS goal from game
JOIN goal ON (matchid = id)
GROUP BY stadium

For every match involving 'POL', show the matchid, date and the number of goals scored.

In [ ]:
SELECT matchid, mdate, COUNT(gtime>0) AS goal from game
JOIN goal ON (matchid = id)
WHERE team1 = 'POL' or team2 = 'POL'
GROUP BY matchid, mdate

For every match where 'GER' scored, show matchid, match date and the number of goals scored by 'GER'

In [ ]:
SELECT matchid, mdate, COUNT(gtime>0) AS goal from game
JOIN goal ON (matchid = id)
WHERE teamid = 'GER'
GROUP BY matchid, mdate

Notice in the query given every goal is listed. If it was a team1 goal then a 1 appears in score1, otherwise there is a 0. You could SUM this column to get a count of the goals scored by team1. Sort your result by mdate, matchid, team1 and team2.

In [ ]:
SELECT mdate, team1,
SUM(CASE WHEN teamid = team1 THEN 1 ELSE 0 END) AS score1,
team2,
SUM(CASE WHEN teamid = team2 THEN 1 ELSE 0 END) AS score2 from game
LEFT JOIN goal ON (game.id = goal.matchid)
GROUP BY mdate, team1, team2