## SQL ZOO- More JOIN operations

Link: http://sqlzoo.net/wiki/More_JOIN_operations

List the films where the yr is 1962 [Show id, title]

In [ ]:
SELECT id, title FROM movie
WHERE yr=1962

Give year of 'Citizen Kane'.

In [ ]:
SELECT yr FROM movie
WHERE title = 'Citizen Kane'

List all of the Star Trek movies, include the id, title and yr (all of these movies include the words Star Trek in the title). Order results by year.

In [ ]:
SELECT id, title, yr FROM movie
WHERE title LIKE 'Star Trek%'

What id number does the actor 'Glenn Close' have?

In [ ]:
SELECT id FROM actor
WHERE name = 'Glenn Close'

What is the id of the film 'Casablanca'

In [ ]:
SELECT id FROM movie
WHERE title = 'Casablanca'

Obtain the cast list for 'Casablanca'.

what is a cast list?
Use movieid=11768, (or whatever value you got from the previous question)

In [ ]:
SELECT name FROM actor
JOIN casting ON (actor.id = casting.actorid)
WHERE movieid = 11768

Obtain the cast list for the film 'Alien'

In [ ]:
SELECT name FROM actor
JOIN casting ON (casting.actorid=actor.id)
JOIN movie ON (casting.movieid=movie.id)
WHERE title = 'Alien'

List the films in which 'Harrison Ford' has appeared

In [ ]:
SELECT title FROM movie
JOIN casting ON (movie.id = casting.movieid)
JOIN actor ON (casting.actorid = actor.id)
WHERE name = 'Harrison Ford'

List the films where 'Harrison Ford' has appeared - but not in the starring role. [Note: the ord field of casting gives the position of the actor. If ord=1 then this actor is in the starring role]

In [ ]:
SELECT title FROM movie
JOIN casting ON (movie.id = casting.movieid)
JOIN actor ON (casting.actorid = actor.id)
WHERE name = 'Harrison Ford' and ord !=1

List the films together with the leading star for all 1962 films.

In [ ]:
SELECT title, name FROM movie
JOIN casting ON (movie.id = casting.movieid)
JOIN actor ON (casting.actorid = actor.id)
WHERE yr = 1962 and ord =1

Which were the busiest years for 'John Travolta', show the year and the number of movies he made each year for any year in which he made more than 2 movies.

In [ ]:
SELECT yr,COUNT(title) FROM movie 
JOIN casting ON movie.id=movieid
JOIN actor   ON actorid=actor.id
WHERE name='John Travolta'
GROUP BY yr
HAVING COUNT(title)=(SELECT MAX(x) FROM (SELECT yr,COUNT(title) AS x FROM movie 
JOIN casting ON movie.id=movieid
JOIN actor   ON actorid=actor.id
WHERE name='John Travolta'
GROUP BY yr) AS y)

List the film title and the leading actor for all of the films 'Julie Andrews' played in.

In [ ]:
SELECT title, name FROM movie
JOIN casting ON (movie.id = casting.movieid)
JOIN actor ON (casting.actorid = actor.id)
WHERE  ord = 1 AND movie.id IN (SELECT movieid FROM casting
JOIN actor on (casting.actorid = actor.id)
JOIN movie on (casting.movieid = movie.id)
WHERE name = 'Julie Andrews')

Obtain a list, in alphabetical order, of actors who've had at least 30 starring roles.

In [ ]:
SELECT name FROM actor
JOIN casting ON (actor.id = casting.actorid)
WHERE ord = 1
GROUP BY name
HAVING COUNT(ord = 1) >= 30 
ORDER BY name

List the films released in the year 1978 ordered by the number of actors in the cast, then by title.

In [ ]:
SELECT title, COUNT(name) AS Number_of_actor FROM movie
JOIN casting ON (movie.id = casting.movieid)
JOIN actor ON (casting.actorid = actor.id)
WHERE yr = 1978
GROUP BY title
ORDER BY COUNT(name) DESC, title

List all the people who have worked with 'Art Garfunkel'

In [ ]:
SELECT a.name
  FROM (SELECT movie.*
          FROM movie
          JOIN casting
            ON casting.movieid = movie.id
          JOIN actor
            ON actor.id = casting.actorid
         WHERE actor.name = 'Art Garfunkel') AS m