## SQL ZOO- SUM and COUNT

Link: http://sqlzoo.net/wiki/SUM_and_COUNT

Show the total population of the world.

In [ ]:
SELECT SUM(population) AS Total_population FROM world

List all the continents - just once each.

In [ ]:
SELECT DISTINCT(continent) FROM world

Give the total GDP of Africa

In [ ]:
SELECT SUM(gdp) FROM world
WHERE continent = 'Africa'

How many countries have an area of at least 1000000

In [ ]:
SELECT COUNT(name) AS Total_area FROM world
WHERE area >=1000000

What is the total population of ('Estonia', 'Latvia', 'Lithuania')

In [ ]:
SELECT SUM(population) FROM world
WHERE name IN  ('Estonia', 'Latvia', 'Lithuania')

For each continent show the continent and number of countries.

In [ ]:
SELECT continent, COUNT(name) AS Total_country FROM world
GROUP BY continent

For each continent show the continent and number of countries with populations of at least 10 million.

In [ ]:
SELECT continent, COUNT(name) AS Total_country FROM world
WHERE population >= 10000000
GROUP BY continent

List the continents that have a total population of at least 100 million.

In [ ]:
SELECT continent FROM world
GROUP BY continent
HAVING SUM(population) > 100000000